FMEDIA*
{
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
}
html
{
    scroll-behavior: smooth;
}
.banner
{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),#009688), url("img/banner.jpg");
    background-size: cover;
    background-position: center; 
    height: 100vh;
}
.logo
{
    width: 140px;
    position: absolute;
    top: 4%;
    left:10%
}
.banner_text
{
    text-align: center;
    color: white;
    padding-top: 180px;
}
.banner_text h1
{
    font-size: 130px;
    font-family: 'Kaushan Script', cursive;
}
.banner_text p
{
    font-size: 25px;
    font-style: italic;
    font-weight: bolder;
}
.banner_btn
{
    margin: 70px auto 0;
}
.banner_btn a
{
    width: 150px;
    text-decoration: none;
    color: white;
    font-weight:bolder;
    display: inline-block;
    margin:0 10px;
    padding: 12px 0;
    border: 2px solid white;
    position: relative;
    z-index: 1;
    transition:color 1s;
}
.banner_btn a span
{
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    background: white;
    z-index: -1;
    transition: 0.5s;
}
.banner_btn a:hover span 
{
    width: 100%;
}
.banner_btn a:hover
{
    color: black;
    font-weight: bold;
}
/*style navigation*/
#navigation
{
    width: 175px;
    height: 100vh;
    position: fixed;
    right: -200px;
    top: 0%;
    background: #009688;
    z-index: 2;
    text-align: left;
    transition: 0.5s;
}
nav ul li
{
    list-style: none;
    margin: 50px 20px;
}
nav ul li a
{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}
#menu_btn
{
    width: 50px;
    height: 50px;
    background-color: #009688;
    text-align: center;
    position: fixed;
    top: 20px;
    right: 30px;
    z-index: 3;
    cursor: pointer;
    border-radius: 3px;
}
#menu_btn img
{
    width: 20px;
    margin: 15px;
}

@media screen and (max-width:700pxx)
{
    background-color: light blur;
}
{
    .banner_text h1
    {
        font-size: 50px;
        height: 100px;
    }
    .banner_text p
    {
        font-size: 23px;
        height: 50px;
    }
    .banner_btn a
    {
        display: block;
        margin: 20px auto;
        margin-left: auto;
        margin-right: auto;
    }

}
/*style navigation*/
/*Feature code*/
#feature
{
    width: 100%;
    padding: 5px;
}
#ftitle
{
    text-align:center ;
    padding-bottom: 70px;
}
#ftitle p
{
    margin: auto;
    font-size: 20px;
    margin-top: 30px;
    color: #009688;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}
#ftitle p::after
{
    content:"";
    width: 50px;
    height: 30px;
    background: linear-gradient(#019587,#fff);
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}
#ftitle h1
{
    font-size: 50px;
}
#fbox
{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
#fboxfeature
{
    flex-basis: 50%;

}
#fimage
{
    flex-basis: 50%;
    margin: auto;
}
#fimage img
{
    width: 70%;
    border-radius: 10px;
}
#fboxfeature h1
{
    color: #009688;
    text-align: left;
    margin-bottom: 10px;
    font-weight: 100;
    font-weight: bold;
}
#fdescription
{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
#ftext p
{
    text-align: left;
    padding: 0 20px;
    font-weight: bold;
}
#ficon .fa
{
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    border-radius: 8px;
    color: #009688;
    border: 1px solid #009688;
}
@media screen and (max-width:770px)
{
    #ftitle h1
    {
        font-size: 35px;
        text-align: center;
    }
    #fboxfeature
    {
        flex-basis: 100%;
    }
    #fimage
    {
        flex-basis: 100%;
    }
    #fimage img
    {
        width: 100%;
    }
    #ftext
    {
        text-align: justify;
    }

}
/* End of Feature code*/

/* service code*/
#service
{
    width: 100%;
    padding:70px 0;
    background: #efefef;
}
#s_box
{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}
#single_service
{
    width: 48%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: white;
    position: relative;
}
#single_service img
{
    width: 100%;
    border-radius: 7px;
}
.overlay
{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgba(0,0,0,0.5),#009688);
    opacity: 0;
    transition: 1s;
}
.overlay:hover
{
    opacity:1;
}
#service_discription
{
    width: 80%;
    position: absolute;
    bottom: 0%;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    transition: 1.5s;
}
hr{
    background: white;
    height: 2px;
    border: 0;
    margin: 15px auto;
}
#service_discription p
{
    font-weight: bold;
    font-size: 14px;
}
#single_service:hover #service_discription
{
    bottom: 40%;
    opacity: 1;
}

@media screen and (max-width:770px)
{
    #service
    {
        padding: 5px;
    }

    #single_service
    {
        width: 100%;
        margin-bottom: 30px;
    }
    #single_service:hover #service_discription
    {
        bottom: 20%;
    }
}

/* End of service code*/
#feedback
{
    width: 100%;
    padding: 70px 0;
}
#feedback_row
{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}
#feedback_column
{
    flex-basis: 28%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow:0 10px 20px 3px #7c8382bd;
    cursor: pointer;
    transition: 0.5s;
} 
#feedback_column p
{
    font-weight: bold;
    text-align: justify;
    font-size: 14px;
}
#feedback_column:hover
{
    transform: translateY(-10px);
}
#user
{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
#user img
{
    width: 40px;
    margin-right: 20px;
    border-radius: 4px;
}
#user_info .fa
{
    margin-left: 8px;
    color: #27c0ff;
    font-size: 20px;
}
#user_info small
{
    color: #009688;
    font-weight: bold;
}
@media screen and (max-width:830px)
{
    #feedback_column
    {
        flex-basis: 100%;
    }
}
/* End of FEEDBACK*/

/* FOOTER*/
#footer
{
    padding: 80px 0 20px;
    background-color: #efefef;
    position: relative;
}
#footer_row
{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}
#footer_row p
{
    line-height: 35px;
}

#footer_left
{
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
    text-align: left;
}
#footer_right
{
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
    text-align: right;
}
#footer_left p
{
    font-weight: bold;
}
#footer_right p
{
    font-weight: bold;
}
#footer_right .fa
{
    color: #009688;
}
#footer_left .fa
{
    color: #009688;
    font-size: 20px;
    margin: 10px;
}
#footer img
{
    max-width: 370px;
    opacity: 0.1;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%,-50%);
}
#social_media
{
    color: #009688;
    font-size: 35px;
    text-align: center
}
#social_media .fa
{
    border: 2px solid #009688;
    margin-left: 10px;
    padding: 10px;
    transition: 1s;
    cursor: pointer;
}
#social_media .fa:hover
{
    transform: translateY(-15px);
    background-color: #009688;
    color: aliceblue;
}
.copy
{
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
}
.copy .fa
{
    color: #009688;
    padding: 5px;
}
@media screen and (max-width:770px)
{
    #footer_left
    {
        flex-basis: 100%;
    }
    #footer_right
    {
        flex-basis: 100%;
        text-align: left;
    }
}
/* END OF FOOTER*/